body {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 320px;
  height: 12px;
  background: transparent;
  cursor: pointer;
  background: #e5e4e3;
  border-radius: 0; /* iOS */
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 12px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  border: 0.1px solid dodgerblue;
  cursor: pointer;
}

.number {
  width: 50px;
}
